n*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:linear-gradient(
-45deg,
#0A1128,
#14213D,
#1D3557,
#4D8CFF
);
background-size:400% 400%;
animation:bgMove 15s ease infinite;
color:white;
min-height:100vh;
text-align:center;
}

@keyframes bgMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

h1{
font-size:60px;
letter-spacing:4px;
text-shadow:0 0 20px rgba(77,140,255,.8);
}

p{
margin-top:15px;
font-size:20px;
}

.status{
color:#7EC8FF;
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{
opacity:.5;
}
50%{
opacity:1;
}
100%{
opacity:.5;
}
}
.hero{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
min-height:100vh;
}

#journey{
min-height:100vh;
padding:100px 20px;
text-align:center;
}

h2{
margin-top:15px;
font-weight:400;
font-size:24px;
opacity:.9;
}

.subtitle{
margin-top:25px;
font-size:18px;
opacity:.8;
max-width:600px;
}

.btn{
display:inline-block;
margin-top:25px;
padding:12px 28px;
background:rgba(255,255,255,.08);
border:1px solid rgba(255,255,255,.25);
border-radius:14px;
color:white;
text-decoration:none;
font-weight:600;
transition:.3s;
box-shadow:0 0 20px rgba(77,140,255,.25);
}

.btn:hover{
transform:translateY(-3px) scale(1.05);
box-shadow:0 0 30px rgba(77,140,255,.8);
background:rgba(255,255,255,.12);
}
